*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;            
    padding: 10px 20px;
    background-color:black;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.material-symbols-outlined {
    font-size: 28px;
}

.list {
    margin-right: auto;   
}

.list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;            
}
.list ul 
{
    margin-left: 480px;
}
.list ul li 
{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 15px;
}
.list ul a
{
    text-decoration: none;
    color: white;
}
.list ul li:hover{
    color: grey;
    cursor: pointer;
}
.icons
{
    display: flex;
    font-size: 20px;
    margin-left: 1100px;
    gap: 20px;
    position: relative;
    bottom: 20px;
}
.first
{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/067/243/452/small/golden-french-fries-falling-in-motion-isolated-studio-shot-of-crispy-potato-sticks-photo.jpeg);
    height: 150px;
    background-size: cover;
    text-align: center;
    color: white;
    border-top: 1.5px solid grey;
}
.first span
{
    color: rgba(255, 0, 0, 0.734);
}
.first h1,p{
    padding: 10px;
}
.second
{
    padding: 60px;
    gap: 10px;
    margin-right: 90px;
}
.info1
{
    display: flex;
}
.info1 i
{
    background-color: orangered;
    border: 2px solid white;
    border-radius: 100%;
    padding: 6px;
}
.third button
{
    background-color: orangered;
    border-radius: 7px;
    padding: 10px;
}
.body
{
    display: flex;
    justify-content: space-evenly;
}
.third
{
    position: relative;
    top: 60px;
}
.third input
{
    border-radius: 5px;
    padding: 10px;
}