*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;            
    padding: 10px 20px;
    background-color:black;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.material-symbols-outlined {
    font-size: 28px;
}

.list {
    margin-right: auto;   
}

.list ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;            
}
.list ul 
{
    margin-left: 480px;
}
.list ul li 
{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 15px;
}
.list ul a
{
    text-decoration: none;
    color: white;
}
.list ul li:hover{
    color: grey;
    cursor: pointer;
}
.icons
{
    display: flex;
    font-size: 20px;
    margin-left: 1100px;
    gap: 20px;
    position: relative;
    bottom: 20px;
}
.body
{
    background-image: url(https://img.magnific.com/premium-photo/front-view-burger-with-french-fries_23-2148235045.jpg);
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 89vh;
    width: 100%;
    background-size: cover;
    color: white;
    padding: 50px;
}
.food
{
    font-size: 60px;
}
.food span {
    color: #ff0000;
}
.body button
{
    background-color: #ff0000;
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 140px;

}
.body button:hover{
   font-size: 20px;
   width: 160px;
}
.text h1
{
    text-align: center;
}